<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ruqi.appserver.ruqi.dao.mappers.WechatMapper">
    <!-- token -->
    <resultMap id="WechatAccessTokenBean" type="com.ruqi.appserver.ruqi.dao.entity.WechatAccessTokenEntity">
        <result column="access_token" property="accessToken"/>
        <result column="expires_time" property="expiresTime"/>
    </resultMap>

    <select id="queryWechatAccessToken" resultMap="WechatAccessTokenBean">
        select
            access_token,
            expires_time
        from
            wechat_token
    </select>

    <delete id="clearDatas">
        delete
        from
            wechat_token
    </delete>

    <insert id="insertData" parameterType="com.ruqi.appserver.ruqi.dao.entity.WechatAccessTokenEntity">
        insert into 
            wechat_token(access_token, expires_time) 
        values 
            (#{accessToken}, #{expiresTime})
    </insert>

    <!-- receiver -->
    <resultMap id="WechatMsgReceiverEntity" type="com.ruqi.appserver.ruqi.dao.entity.WechatMsgReceiverEntity">
        <result column="id" property="id"/>
        <result column="openid" property="openid"/>
        <result column="nickname" property="nickname"/>
        <result column="remark" property="remark"/>
        <result column="user_status" property="userStatus"/>
    </resultMap>

    <!--统计总数-->
    <select id="queryReceiverSize" resultType="long">
        select count(*) as totalSize
        from wechat_msg_receiver
        <where>
            <if test=" nickname != null and nickname != '' ">
                <bind name="pnickName" value=" '%' + nickname + '%' "></bind>
                nickname like #{pnickName}
            </if>
            <if test=" remarks != null and remarks != '' ">
                <bind name="premarks" value=" '%' + remarks + '%' "></bind>
                AND remark like #{premarks}
            </if>
            <if test=" userStatus != null and userStatus != '' ">
                <bind name="puserstatus" value=" userStatus "></bind>
                AND user_status = #{puserstatus}
            </if>
        </where>
    </select>

    <select id="queryReceivers" parameterType="String" resultMap="WechatMsgReceiverEntity">
        select
        id,
        openid,
        nickname,
        remark,
        user_status
        from
        wechat_msg_receiver
        <where>
            <if test="nickname != null">
                nickname like "%"#{nickname}"%"
            </if>
            <if test=" remarks != null and remarks != '' ">
                <bind name="premarks" value=" '%' + remarks + '%' "></bind>
                AND remark like #{premarks}
            </if>
            <if test=" userStatus != null and userStatus != '' ">
                <bind name="puserstatus" value=" userStatus "></bind>
                AND user_status = #{puserstatus}
            </if>
        </where>
        limit #{pageIndex}, #{pageSize}
    </select>

    <select id="queryAvailableReceivers" resultMap="WechatMsgReceiverEntity">
        select
            id,
            openid,
            nickname
        from
            wechat_msg_receiver
        where 
            user_status = 1
    </select>

    <select id="queryReceiverByOpenid" parameterType="String" resultMap="WechatMsgReceiverEntity">
        select
            user_status,
            nickname,
            id,
            openid
        from
            wechat_msg_receiver
        where
            openid = #{openid}
    </select>

    <update id="updateReceiver" parameterType="WechatMsgReceiverEntity">
        UPDATE wechat_msg_receiver
        SET nickname = #{nickname}, user_status = #{userStatus}, remark = #{remark}, modify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
        WHERE openid = #{openid}
    </update>

    <insert id="insertReceiver" parameterType="WechatMsgReceiverEntity">
        insert into 
            wechat_msg_receiver(openid, nickname, user_status, create_time) 
        values 
            (#{openid}, #{nickname}, 1, DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s'))
    </insert>

</mapper>