<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>危险报警查询列表</title>
    <link rel="stylesheet" href="js/layui2.5.6/css/layui.css">
    <style>
        body {
            padding: 20px; /*overflow-y: scroll;*/
        }
    </style>
</head>

<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<form id="filterForm" name="filterForm" class="layui-form" style="margin-top: 0%;" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">应用类型</label>
            <div class="layui-input-inline" style="width: 100px;">
                <select id="appIdSelect">
                    <option value="">所有应用</option>
                    <option value="1">如祺乘客</option>
                    <option value="2">如祺乘客dev</option>
                    <option value="3">如祺司机</option>
                    <option value="4">如祺司机dev</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">app版本</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" maxlength="10" id="appVersion" name="appVersion"
                       lay-verify="appVersion"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">设备型号</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" maxlength="10" id="deviceModel" name="deviceModel"
                       lay-verify="deviceBrand"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">设备品牌</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" maxlength="20" id="deviceBrand" name="deviceBrand" lay-verify="deviceBrand"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用户手机</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" class="layui-input" id="test1">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">上传时间段</label>
            <div class="layui-input-inline" style="width: 300px;">
                <input type="text"  id="duringTime" name="duringTime"
                       lay-verify="duringTime"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="search">搜索</button>
                <button type="submit" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="resetSearch">重置
                </button>
            </div>
        </div>
    </div>
</form>

<table id="developerTable" lay-filter="developerTable"></table>

<script src="js/layui2.5.6/layui.js" charset="utf-8"></script>
<script type="text/html" id="barOperator">
    <a class="layui-btn layui-btn-xs" lay-event="user_edit">查看</a>
    <!-- <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a> -->
</script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        // var data = form.val("wechat_info");

        //监听提交
        // 搜索
        form.on('submit(search)', function (data) {
            layui.use('table', function () {
                var table = layui.table;
                table.reload('developerTable', {
                    page: {curr: 1}
                    , where: {
                    "appInfo": {
                            "appId": $("#appIdSelect").val(),
                        },
                        "userInfo": {
                            "userName": $("#userName").val(),
                            "userPhone": $("#phoneNum").val(),
                        },
                        "content": {
                            "appVersionName": $("#appVersion").val(),
                            "duringTime": $("#duringTime").val(),
                            "deviceModel": $("#deviceModel").val()
                        }
                   }
                }, 'data');
            });
            return false;
        });
        // 重置搜索
        form.on('submit(resetSearch)', function (data) {
            document.getElementById("filterForm").reset();
            layui.use('table', function () {
                var table = layui.table;
                table.reload('developerTable', {
                    page: {curr: 1}
                    , where: {
                        "appInfo": {
                            "appId": $("#appIdSelect").val(),
                        },
                        "userInfo": {
                            "userName": $("#userName").val(),
                            "userPhone": $("#phoneNum").val(),
                        },
                        "content": {
                            "appVersionName": $("#appVersion").val(),
                            "duringTime": $("#duringTime").val(),
                            "deviceModel": $("#deviceModel").val()
                        }
                    }
                }, 'data');
            });
            return false;
        });
    });
</script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#duringTime' //指定元素
            ,type: 'datetime'
            ,range:  '~' //或 range: '~' 来自定义分割字符

        });
    });


    layui.use('table', function () {
        var table = layui.table;

     var tableIns =   table.render({
            elem: '#developerTable'
            // ,height:400
            // ,height: 'full - 20'
            //,width: 600
            , title: '报警信息列表'
            , url: 'record/queryRiskListForLayui'
            ,method:'post'
            ,contentType: 'application/json'
            // ,text: '无数据'
            //,size: 'lg'
            , page: {curr: 1}
            // ,autoSort: false
            // ,loading: false
            // ,totalRow: true
            , limit: 10
            , limits: [10, 30, 50, 100]
            , toolbar: '#toolbarDemo'
            // ,toolbar: true
            // 右上角工具条
            , defaultToolbar: ['filter', 'exports', 'print'
                // , {
                // title: '帮助'
                // ,layEvent: 'LAYTABLE_TIPS'
                // ,icon: 'layui-icon-tips'
                // }
                , {
                    title: '刷新'
                    , layEvent: 'reloadData'
                    , icon: 'layui-icon-refresh'
                }
                // , {
                // title: '添加'
                // ,layEvent: 'showQrcodeView'
                // ,icon: 'layui-icon-add-1'
                // }
            ]
            , cols: [
                [
                      {field: 'id', title: 'ID', fixed: 'left', width: 60, unresize: true, sort: true, align: 'center'}
                    , {minWidth:100,field: 'riskType', title: '风险类型', sort: false, align: 'center'}
                    , {minWidth:100,field: 'userId', title: '用户id', sort: false, align: 'center'}
                    , {minWidth:100,field: 'userPhone', title: '用户手机', sort: false, align: 'center'}
                    , {minWidth:100,field: 'userName', title: '用户名称', sort: false, align: 'center'}
                    , {minWidth:100,field: 'deviceId', title: '设备id', sort: false, align: 'center'}
                    , {minWidth:100,field: 'riskDetail', title: '风险详情', sort: false, align: 'center'}
                    , {minWidth:100,field: 'createTime', templet: function (d) {  return formatDateTime(d.createTime);},title: '上报时间', sort: false, align: 'center'}
                    , {minWidth:100,field: 'systemVersion', title: '系统版本', sort: false, align: 'center'}
                    , {minWidth:100,field: 'netState', title: '网络状态', sort: false, align: 'center'}
                    , {minWidth:100,field: 'locationLat', title: '经度', sort: false, align: 'center'}
                    , {minWidth:100,field: 'locationLng', title: '纬度', sort: false, align: 'center'}
                    , {minWidth:100,field: 'channel', title: '渠道', sort: false, align: 'center'}
                    , {minWidth:100,field: 'scene', title: '上传场景', sort: false, align: 'center'}
                    , {minWidth:100,field: 'appVersionCode', title: 'app版本', sort: false, align: 'center'}
                    , {minWidth:100,field: 'appVersionName', title: 'app名称', sort: false, align: 'center'}
                    , {minWidth:100,field: 'appId', title: '应用id', sort: false, align: 'center'}
                    , {minWidth:100,field: 'deviceModel', title: '设备型号', sort: false, align: 'center'}
                    , {minWidth:100,field: 'deviceBrand', title: '设备品牌', sort: false, align: 'center'}
                    , {minWidth:100,field: 'requestIp', title: '请求ip', sort: false, align: 'center'}
                    , {minWidth:100,field: 'ext', title: '备注', sort: false, align: 'center'}
                    , {
                    toolbar: '#barOperator',
                    fixed: 'right',
                    title: '操作',
                    width: 60,
                    unresize: false,
                    sort: false,
                    align: 'center'
                }
                ]
            ]
            // ,response: {
            // 	statusName: 'errorCode'
            // 	,statusCode: 0
            // }
            , parseData: function (res) {
                return {
                    "code": res.errorCode
                    , "msg": res.errorMsg
                    , "count": res.data.totalSize
                    , "data": res.data.list
                };
            }
        });

        //监听工具条
        table.on('tool(developerTable)', function (obj) {
            selectedData = obj.data;
            var itemData = obj.data;
            // layer.alert(JSON.stringify(itemData));
            switch (obj.event) {
                case 'user_send_msg_test':
                    var jsonStr = itemData.openid;
                    $.ajax({
                        type: "POST",
                        url: "wechat/template/testSend",
                        data: jsonStr,//请求的参数
                        dataType: "json",//以json格式返回的数据，不是json就把此行去掉
                        contentType: 'application/json;charset=utf-8',
                        success: function (dataResult) {
                            if (null != dataResult) {
                                if (dataResult.errorCode == 0) {
                                    console.log("--->result dataResult.size:" + dataResult.data.size);
                                    layer.msg('已成功发送');
                                } else {
                                    console.log("--->result code:" + dataResult.errorCode + ", msg:" + dataResult.errorMsg);
                                    layer.msg('发送失败:' + dataResult.errorMsg);
                                }
                            }
                        }
                    });
                    break;
            }
        });

        //工具栏事件
        table.on('toolbar(developerTable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'reloadData':
                    table.reload('developerTable', {
                        page: {curr: 1 }
                        //,height: 300
                        //,url: 'x'
                    }, 'data');
                    break;
            }
            ;
        });

        // table.on('row(test)', function(obj){
        // 	console.log(obj);
        // 	//layer.closeAll('tips');
        // });

        // //监听表格行点击
        // table.on('tr', function(obj){
        // 	console.log(obj)
        // });

        // //监听表格复选框选择
        // table.on('checkbox(test)', function(obj){
        // 	console.log(obj)
        // });

        // //监听表格单选框选择
        // table.on('radio(test)', function(obj){
        // 	console.log(obj)
        // });

        // //监听表格单选框选择
        // table.on('rowDouble(test)', function(obj){
        // 	console.log(obj);
        // });

        // //监听单元格编辑
        // table.on('edit(test)', function(obj){
        // 	var value = obj.value //得到修改后的值
        // 	,data = obj.data //得到所在行所有键值
        // 	,field = obj.field; //得到字段

        // 	console.log(obj)
        // });

        //监听排序
        table.on('sort(developerTable)', function (obj) {
            // 本地该页数据排序
            table.reload('developerTable', {
                initSort: obj
                //,page: {curr: 1} //重新从第一页开始
                // ,where: { //重新请求服务端
                // 	key: obj.field //排序字段
                // 	,order: obj.type //排序方式
                // }
            });
        });

        var $ = layui.jquery, active = {
            parseTable: function () {
                table.init('parse-table-demo', {
                    limit: 3
                });
            }
            , add: function () {
                table.addRow('developerTable')
            }
        };
        $('i').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $('.layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>