<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>微信公众号消息接收者列表</title>
    <link rel="stylesheet" href="/js/layui2.5.6/css/layui.css">
    <style>
        body {
            padding: 20px; /*overflow-y: scroll;*/
        }
    </style>
</head>

<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<form id="filterForm" name="filterForm" class="layui-form" style="margin-top: 0%;" action="">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">微信昵称</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input type="text" maxlength="20" id="filterNickName" name="filterNickName" lay-verify="filterNickName" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">备注名</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input type="text" maxlength="10" id="filterRemarkName" name="filterRemarkName" lay-verify="filterRemarkName"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline" style="width: 200px;">
                <select id="statusSelect">
                    <option value="">全部</option>
                    <option value="1">启用</option>
                    <option value="0">禁用</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="search">搜索</button>
                <button type="submit" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="resetSearch">重置</button>
            </div>
        </div>
    </div>
</form>

<table id="developerTable" lay-filter="developerTable"></table>

<div hidden="true" type="text/html" id="itemEditView" onload="">
    <form id="updateForm" name="updateForm" class="layui-form" style="margin-top: 10%;" action=""
          lay-filter="wechat_info">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">备注名</label>
                <div class="layui-input-inline">
                    <input maxlength="10" type="text" id="remarkName" name="remarkName" lay-verify="remarkName"
                           autocomplete="off" placeholder="请输入备注名" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 10%;">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="updateRemarkName">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button id="btn_showQrcodeView" class="layui-btn layui-btn-sm" lay-event="showQrcodeView">添加绑定</button>
        <button class="layui-btn layui-btn-sm" lay-event="testSendMsg">测试全量通知</button>
    </div>
</script>
<script src="/js/layui2.5.6/layui.js" charset="utf-8"></script>
<script type="text/html" id="tpl_user_status">
    {{#  if(d.userStatus == '1'){ }}
    启用
    {{#  } else { }}
    禁用
    {{#  } }}
</script>
<script type="text/html" id="barOperator">
    {{#  if(d.userStatus == '1'){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="user_disable">禁用</a>
    {{#  } else { }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="user_enable">启用</a>
    {{#  } }}

    <a class="layui-btn layui-btn-xs" lay-event="user_edit">编辑</a>
    <!-- <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a> -->
</script>
<script>
    var updateUserInfo = function (itemData) {
        $.ajax({
            type: "POST",
            url: "/wechat/receiver/update",
            data: JSON.stringify(itemData),//请求的参数
            contentType: 'application/json;charset=utf-8',
            dataType: "json",//以json格式返回的数据，不是json就把此行去掉
            success: function (dataResult) {
                if (null != dataResult) {
                    if (dataResult.errorCode == 0) {
                        layer.msg('更改成功');
                        // 更改了，需要刷新数据
                        layui.use('table', function () {
                            var table = layui.table;
                            table.reload('developerTable', {}, 'data');
                        });
                        return true;
                    } else {
                        layer.msg('更改失败');
                        return false;
                    }
                }
            }
        });
    }
</script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        // var data = form.val("wechat_info");

        //监听提交
        // 更新备注名
        form.on('submit(updateRemarkName)', function (data) {
            var newName = data.field.remarkName;

            layer.msg(JSON.stringify(selectedData));

            if (null != selectedData) {
                if (newName == selectedData.remark) {
                    return true;
                } else {
                    selectedData.remark = newName;
                    return updateUserInfo(selectedData);
                }
            }
            layui.msg("发生异常错误，请刷新重试");
            return false;
        });
        // 搜索
        form.on('submit(search)', function (data) {
            layui.use('table', function () {
                var table = layui.table;
                table.reload('developerTable', {
                    page: {curr: 1}
                    ,where: {
                        nickname: $("#filterNickName").val()
                        , remarks: $("#filterRemarkName").val()
                        , userStatus: $("#statusSelect").val()
                    }}, 'data');
            });
            return false;
        });
        // 重置搜索
        form.on('submit(resetSearch)', function (data) {
            document.getElementById("filterForm").reset();
            layui.use('table', function () {
                var table = layui.table;
                table.reload('developerTable', {
                    page: {curr: 1}
                    ,where: {
                        nickname: $("#filterNickName").val()
                        , remarks: $("#filterRemarkName").val()
                        , userStatus: $("#statusSelect").val()
                    }}, 'data');
            });
            return false;
        });
    });
</script>
<script>
    var selectedData = null;

    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#developerTable'
            // ,height:400
            // ,height: 'full - 20'
            //,width: 600
            , title: '微信公众号消息通知接收者表'
            , url: '/wechat/receiver/list'
            // ,text: '无数据'
            //,size: 'lg'
            , page: {curr: 1}
            // ,autoSort: false
            // ,loading: false
            // ,totalRow: true
            , limit: 10
            , limits: [10, 30, 50, 100]
            , toolbar: '#toolbarDemo'
            // ,toolbar: true
            // 右上角工具条
            , defaultToolbar: ['filter', 'exports', 'print'
                // , {
                // title: '帮助'
                // ,layEvent: 'LAYTABLE_TIPS'
                // ,icon: 'layui-icon-tips'
                // }
                , {
                    title: '刷新'
                    , layEvent: 'reloadData'
                    , icon: 'layui-icon-refresh'
                }
                // , {
                // title: '添加'
                // ,layEvent: 'showQrcodeView'
                // ,icon: 'layui-icon-add-1'
                // }
            ]
            , cols: [
                [
                    {field: 'id', title: 'ID', fixed: 'left', width: 60, unresize: true, sort: true, align: 'center'}
                    , {field: 'openid', title: 'openid', sort: false, align: 'center'}
                    , {field: 'nickname', title: '微信昵称', sort: false, align: 'center'}
                    , {field: 'remark', title: '备注名', sort: false, align: 'center'}
                    , {
                    field: 'userStatus',
                    templet: '#tpl_user_status',
                    fixed: 'right',
                    title: '状态',
                    width: 80,
                    unresize: true,
                    sort: false,
                    align: 'center'
                }
                    , {
                    toolbar: '#barOperator',
                    fixed: 'right',
                    title: '操作',
                    width: 120,
                    unresize: false,
                    sort: false,
                    align: 'center'
                }
                ]
            ]
            // ,response: {
            // 	statusName: 'errorCode'
            // 	,statusCode: 0
            // }
            , parseData: function (res) {
                return {
                    "code": res.errorCode
                    , "msg": res.errorMsg
                    , "count": res.data.totalSize
                    , "data": res.data.list
                };
            }
        });

        //监听工具条
        table.on('tool(developerTable)', function (obj) {
            selectedData = obj.data;
            var itemData = obj.data;
            // layer.alert(JSON.stringify(itemData));
            switch (obj.event) {
                case 'user_edit':
                    // 先进行reset，否则上一次输入的数据还会显示出来
                    document.getElementById("updateForm").reset();
                    layer.open({
                        type: 1,
                        btnAlign: 'c',
                        area: ['400px', '300px'],
                        title: '个人微信号信息',
                        content: $("#itemEditView"),
                        // btn:['提交','取消'],
                        // btn1: function() {

                        // },
                        // btn2:function() {
                        // }
                        // cancel: function(index, layero){
                        // 	// layer.close(index);
                        // 	layer.msg($('input[name=remarkName]').get('value').value);
                        // 	// $('input[name=remarkName]').attr('value', "111111");
                        // 	return false;
                        // },
                        success: function (layero, index) {
                            $('input[name=remarkName]').attr('value', itemData.remark);
                            // $('form[name=updateForm]').attr('value', itemData);
                        },
                        // end: function() {
                        // 	$("#itemEditView").reload();
                        // },
                    })
                    break;
                case 'user_enable':
                case 'user_disable':
                    if (obj.event == 'user_enable') {
                        itemData.userStatus = 1;
                    } else {
                        itemData.userStatus = 0;
                    }
                    updateUserInfo(itemData);
                    break;
            }
        });

        //工具栏事件
        table.on('toolbar(developerTable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'showQrcodeView':
                    layer.open({
                        type: 1,
                        // content: ["<div style='text-align: center;background-color: white;width:100;'><p style='margin-top: 20;color: black;'>扫码绑定微信账号（绑定后还需关注公众号才能接收消息）</p><img style='width:30%; height: 30%;' src='/img/wechat_bind.png' /></div>" //这里content是一个普通的String
                        // 	, '#btn_showQrcodeView']
                        content: "<div style='text-align: center;'><p>扫码绑定微信账号<br>（还需关注公众号才能接收消息）</p><img style='width:120px; height: 120px;' src='/img/wechat_bind.png' /></div>"
                    });
                    // layer.alert('扫码绑定新的微信接收者', {icon: '/img/wechat_bind.png'});
                    break;
                case 'testSendMsg':
                    $.ajax({
                        type: "POST",
                        url: "/wechat/template/send",
                        // data: {username:$("#username").val(), content:$("#content").val()},//请求的参数
                        dataType: "json",//以json格式返回的数据，不是json就把此行去掉
                        contentType: 'application/json;charset=utf-8',
                        success: function (dataResult) {
                            if (null != dataResult) {
                                if (dataResult.errorCode == 0) {
                                    console.log("--->result dataResult.size:" + dataResult.data.size);
                                    layer.msg('已发送至' + dataResult.data.size + '个微信号');
                                } else {
                                    console.log("--->result code:" + dataResult.errorCode + ", msg:" + dataResult.errorMsg);
                                    layer.msg('发送失败:' + dataResult.errorMsg);
                                }
                            }
                        }
                    });
                    break;
                case 'update':
                    layer.msg('编辑');
                    break;
                case 'delete':
                    layer.msg('删除');
                    break;
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选')
                    break;
                // case 'LAYTABLE_TIPS':
                // 	layer.alert('Table for layui-v'+ layui.v);
                // break;
                case 'reloadData':
                    table.reload('developerTable', {
                        page: {curr: 1}
                        //,height: 300
                        //,url: 'x'
                    }, 'data');
                    break;
            }
            ;
        });

        // table.on('row(test)', function(obj){
        // 	console.log(obj);
        // 	//layer.closeAll('tips');
        // });

        // //监听表格行点击
        // table.on('tr', function(obj){
        // 	console.log(obj)
        // });

        // //监听表格复选框选择
        // table.on('checkbox(test)', function(obj){
        // 	console.log(obj)
        // });

        // //监听表格单选框选择
        // table.on('radio(test)', function(obj){
        // 	console.log(obj)
        // });

        // //监听表格单选框选择
        // table.on('rowDouble(test)', function(obj){
        // 	console.log(obj);
        // });

        // //监听单元格编辑
        // table.on('edit(test)', function(obj){
        // 	var value = obj.value //得到修改后的值
        // 	,data = obj.data //得到所在行所有键值
        // 	,field = obj.field; //得到字段

        // 	console.log(obj)
        // });

        //监听排序
        table.on('sort(developerTable)', function (obj) {
            // 本地该页数据排序
            table.reload('developerTable', {
                initSort: obj
                //,page: {curr: 1} //重新从第一页开始
                // ,where: { //重新请求服务端
                // 	key: obj.field //排序字段
                // 	,order: obj.type //排序方式
                // }
            });
        });

        var $ = layui.jquery, active = {
            parseTable: function () {
                table.init('parse-table-demo', {
                    limit: 3
                });
            }
            , add: function () {
                table.addRow('developerTable')
            }
        };
        $('i').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $('.layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>