<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>微信公众号消息接收者列表</title>
<link rel="stylesheet" href="/js/layui2.5.6/css/layui.css">
<style>
	body{padding: 20px; /*overflow-y: scroll;*/}
</style>
</head>

<body>
	<table id="test" lay-filter="test"></table>

	<script src="/js/layui2.5.6/layui.js" charset="utf-8"></script>
	<script>
		layui.use('table', function(){
		var table = layui.table;
		
		table.render({
			elem: '#test'
			,height: 600
			//,width: 600
			,title: '用户数据表'
			,url: 'demo1.json'
			//,size: 'lg'
			,page: {
			
			}
			
			,autoSort: false
			//,loading: false
			,totalRow: true
			,limit: 30
			,toolbar: '#toolbarDemo'
			// 右上角工具条
			,defaultToolbar: ['filter', 'exports', 'print'
				// , {
				// title: '帮助'
				// ,layEvent: 'LAYTABLE_TIPS'
				// ,icon: 'layui-icon-tips'
				// }
				, {
				title: '添加'
				,layEvent: 'showQrcodeView'
				,icon: 'layui-icon-add-1'
				}
			]
			,cols: [
				[
				{field:'nickname', title:'微信昵称', width:80, fixed:'left', unresize:true, sort:false, totalRowText:'合计：'}
				]
			]
			/*
			,response: {
			statusName: 'status'
			,statusCode: 200
			}
			,parseData: function(res){
			return {
				"status": res.status
				,"msg": res.message
				,"count": res.total
				,"data": res.data.list
			};
			}
			*/
		});

		//工具栏事件
		table.on('toolbar(test)', function(obj){
			var checkStatus = table.checkStatus(obj.config.id);
			switch(obj.event){
				case 'showQrcodeView':
				layer.open({
					type: 4, 
					content: ["<div style='text-align: center;'><p style='margin-top: 10%;'>扫码绑定微信账号</p><img style='width:30%; height: 30%;' src='/img/wechat_bind.png' /></div>" //这里content是一个普通的String
						, '#test']
				});
				// layer.alert('扫码绑定新的微信接收者', {icon: '/img/wechat_bind.png'});
				break;
			case 'add':
				layer.msg('添加');
			break;
			case 'update':
				layer.msg('编辑');
			break;
			case 'delete':
				layer.msg('删除');
			break;
			case 'getCheckData':
				var data = checkStatus.data;
				layer.alert(JSON.stringify(data));
			break;
			case 'getCheckLength':
				var data = checkStatus.data;
				layer.msg('选中了：'+ data.length + ' 个');
			break;
			case 'isAll':
				layer.msg(checkStatus.isAll ? '全选': '未全选')
			break;
			// case 'LAYTABLE_TIPS':
			// 	layer.alert('Table for layui-v'+ layui.v);
			break;
			case 'reload':
				table.reload('test', {
				page: {curr: 5}
				//,height: 300
				//,url: 'x'
				}, 'data');
			break;
			};
		});

		// table.on('row(test)', function(obj){
		// 	console.log(obj);
		// 	//layer.closeAll('tips');
		// });

		// //监听表格行点击
		// table.on('tr', function(obj){
		// 	console.log(obj)
		// });

		// //监听表格复选框选择
		// table.on('checkbox(test)', function(obj){
		// 	console.log(obj)
		// });

		// //监听表格单选框选择
		// table.on('radio(test)', function(obj){
		// 	console.log(obj)
		// });
		
		// //监听表格单选框选择
		// table.on('rowDouble(test)', function(obj){
		// 	console.log(obj);
		// });
		
		// //监听单元格编辑
		// table.on('edit(test)', function(obj){
		// 	var value = obj.value //得到修改后的值
		// 	,data = obj.data //得到所在行所有键值
		// 	,field = obj.field; //得到字段
			
		// 	console.log(obj)
		// });
		
		// //监听行工具事件
		// table.on('tool(test)', function(obj){
		// 	var data = obj.data;
		// 	//console.log(obj)
		// 	if(obj.event === 'del'){
		// 	layer.confirm('真的删除行么', function(index){
		// 		obj.del();
		// 		layer.close(index);
		// 	});
		// 	} else if(obj.event === 'edit'){
		// 	layer.prompt({
		// 		formType: 2
		// 		,value: data.email
		// 	}, function(value, index){
		// 		obj.update({
		// 		email: value
		// 		});
		// 		layer.close(index);
		// 	});
		// 	}
		// });
		
		// //监听排序
		// table.on('sort(test)', function(obj){
		// 	console.log(this)
			
		// 	//return;
		// 	layer.msg('服务端排序。order by '+ obj.field + ' ' + obj.type);
		// 	//服务端排序
		// 	table.reload('test', {
		// 	initSort: obj
		// 	//,page: {curr: 1} //重新从第一页开始
		// 	,where: { //重新请求服务端
		// 		key: obj.field //排序字段
		// 		,order: obj.type //排序方式
		// 	}
		// 	});
		// });
		
		// //return;
		
		var $ = layui.jquery, active = {
			parseTable: function(){
			table.init('parse-table-demo', {
				limit: 3
			});
			}
			,add: function(){
			table.addRow('test')
			}
		};
		$('i').on('click', function(){
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});
		$('.layui-btn').on('click', function(){
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});
		});
	</script>
</body>
</html>